 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #908C84;
active-foreground: #DDE7E6;
normal-background: #070000;
normal-foreground: #DDE7E6;
urgent-background: #B88C66;
urgent-foreground: #DDE7E6;

alternate-active-background: #628CA6;
alternate-active-foreground: #DDE7E6;
alternate-normal-background: #070000;
alternate-normal-foreground: #DDE7E6;
alternate-urgent-background: #070000;
alternate-urgent-foreground: #DDE7E6;

selected-active-background: #908C84;
selected-active-foreground: #070000;
selected-normal-background: #908C84;
selected-normal-foreground: #070000;
selected-urgent-background: #628CA6;
selected-urgent-foreground: #070000;

background-color: #070000;
background: rgba(0,0,0,0.7);
foreground: #DDE7E6;
border-color: #908C84;

color0: #1E1A17;
color1: #456980;
color2: #456980;
color3: #49697C;
color4: #6C6963;
color5: #8A694D;
color6: #768C8B;
color7: #C6D4D4;
color8: #8A9494;
color9: #5C8CAA;
color10: #5C8CAA;
color11: #628CA6;
color12: #908C84;
color13: #B88C66;
color14: #9DBAB9;
color15: #C6D4D4;


}

