 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #6C5898;
active-foreground: #E2DAEC;
normal-background: #1C1A1D;
normal-foreground: #E2DAEC;
urgent-background: #9A84B5;
urgent-foreground: #E2DAEC;

alternate-active-background: #665579;
alternate-active-foreground: #E2DAEC;
alternate-normal-background: #1C1A1D;
alternate-normal-foreground: #E2DAEC;
alternate-urgent-background: #1C1A1D;
alternate-urgent-foreground: #E2DAEC;

selected-active-background: #6C5898;
selected-active-foreground: #1C1A1D;
selected-normal-background: #6C5898;
selected-normal-foreground: #1C1A1D;
selected-urgent-background: #665579;
selected-urgent-foreground: #1C1A1D;

background-color: #1C1A1D;
background: rgba(0,0,0,0.7);
foreground: #E2DAEC;
border-color: #6C5898;

color0: #424044;
color1: #17111F;
color2: #1E1726;
color3: #4C405B;
color4: #514272;
color5: #746388;
color6: #816F97;
color7: #CDC1DC;
color8: #90879A;
color9: #1F1729;
color10: #281F33;
color11: #665579;
color12: #6C5898;
color13: #9A84B5;
color14: #AC94C9;
color15: #CDC1DC;


}

