 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #878D7E;
active-foreground: #E8D6C7;
normal-background: #171615;
normal-foreground: #E8D6C7;
urgent-background: #878D7E;
urgent-foreground: #E8D6C7;

alternate-active-background: #58584E;
alternate-active-foreground: #E8D6C7;
alternate-normal-background: #171615;
alternate-normal-foreground: #E8D6C7;
alternate-urgent-background: #171615;
alternate-urgent-foreground: #E8D6C7;

selected-active-background: #878D7E;
selected-active-foreground: #171615;
selected-normal-background: #878D7E;
selected-normal-foreground: #171615;
selected-urgent-background: #58584E;
selected-urgent-foreground: #171615;

background-color: #171615;
background: rgba(0,0,0,0.7);
foreground: #E8D6C7;
border-color: #878D7E;

color0: #3E3D3C;
color1: #191512;
color2: #38392E;
color3: #42423B;
color4: #656A5E;
color5: #656A5E;
color6: #8D6746;
color7: #D5BCA6;
color8: #958374;
color9: #221D18;
color10: #4A4C3D;
color11: #58584E;
color12: #878D7E;
color13: #878D7E;
color14: #BC895E;
color15: #D5BCA6;


}

